.header {
  width: 100%;
  position: absolute;
  padding: 0 2rem;
  a {
    letter-spacing: 0.07rem;
    padding-bottom: 0.2rem;
  }
  @media screen and (max-width: 535px) {
    padding: 0 1.2em;
  }
}
.header__wrapper {
  @include wrapper;
  margin: 0 auto;
  min-width: 17rem;
  height: 7rem;
}
.header__logo {
  p {
    margin: 0;
  }
  p:first-of-type {
    font-family: $text-font-stack;
    color: $brand-color;
    font-size: 2rem;
    letter-spacing: 0.15rem;
  }
  p:last-of-type {
    margin: 0.7rem 0;
    color: $main-title-color;
    font-size: 0.85rem;
    letter-spacing: 0.07rem;
  }
}
