.header {
  width: 100%;
  position: absolute;
  padding: 0 2rem;
  a {
    letter-spacing: 0.07rem;
    padding-bottom: 0.2rem;
  }
  @media screen and (max-width: 535px) {
    padding: 0 1.2em;
  }
}

.header__wrapper {
  @include wrapper;
  margin: 0 auto;
  min-width: 17rem;
  height: 7rem;
}

.header__logo {
  p {
    margin: 0;
  }
  p:first-of-type {
    font-family: $text-font-stack;
    color: $brand-color;
    font-size: 2rem;
    letter-spacing: 0.15rem;
  }
  p:last-of-type {
    margin: 0.7rem 0;
    color: $main-title-color;
    font-size: 0.85rem;
    letter-spacing: 0.07rem;
  }
}

.header__burger {
  display: none;
  top: 25px;
  @include icon;
  @media screen and (max-width: 767px) {
    display: flex;
  }
  &--show {
    transform: rotate(90deg);
  }
}

.header__nav {
  height: 1.7rem;
  width: 28rem;
  @media screen and (max-width: 767px) {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #292929;
    width: 20em;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    transform: translateX(20em);
    transition: 0.3s;
  }
  ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    @media screen and (max-width: 767px) {
      flex-direction: column;
      height: inherit;
      max-height: 21em;
      margin-right: 1.2em;
    }
    a {
      @media screen and (max-width: 767px) {
        font-size: 2em;
      }
    }
  }
  &-li {
    @media screen and (max-width: 767px) {
      width: 100%;
    }
    &--show {
      a {
        cursor: default;
        color: $anchor-color;
      }
      border-bottom: 0.2em solid $brand-color;
    }
    @media (hover: hover) and (pointer: fine) {
      &:hover {
        a {
          color: $anchor-color;
        }
      }
    }
  }
  &--show {
    transform: translateX(0);
    z-index: 3;
  }
}
