.header {
  width: 100%;
  min-width: 300px;
  position: absolute;
  padding: 0 30px 0 30px;
  a {
    letter-spacing: 1px;
    padding-bottom: 3px;
  }
  @media screen and (max-width: 535px) {
    padding: 0 20px 0 20px;
  }
}

.header__wrapper {
  @include wrapper;
  margin: 0 auto;
  min-width: 280px;
  height: 120px;
}

.header__logo {
  p {
    margin: 0;
  }
  p:first-of-type {
    font-family: $text-font-stack;
    color: $brand-color;
    font-size: 2rem;
    letter-spacing: 0.15rem;
  }
  p:last-of-type {
    margin: 10px 0;
    color: $main-title-color;
    font-size: 0.85rem;
    letter-spacing: 0.1em;
  }
}

.header__burger {
  display: none;
  top: 25px;
  @include icon;
  @media screen and (max-width: 767px) {
    display: flex;
  }
  &--show {
    transform: rotate(90deg);
  }
}

.header__nav {
  height: 27px;
  width: 443px;
  @media screen and (max-width: 767px) {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #292929;
    width: 320px;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    transform: translateX(320px);
    transition: 0.3s;
  }
  ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    @media screen and (max-width: 767px) {
      flex-direction: column;
      height: inherit;
      max-height: 330px;
      margin-right: 20px;
    }
    a {
      @media screen and (max-width: 767px) {
        font-size: 2rem;
      }
    }
  }
  &-li {
    @media screen and (max-width: 767px) {
      width: 100%;
    }
    &--show {
      a {
        cursor: default;
        color: $anchor-color;
      }
      border-bottom: 3px solid $brand-color;
    }
    @media (hover: hover) and (pointer: fine) {
      &:hover {
        a {
          color: $anchor-color;
        }
      }
    }
  }
  &--show {
    transform: translateX(0px);
    z-index: 3;
  }
}
