.about {
@include container;
}

.about__wrapper {
  @include wrapper;
  gap: 10px;
  @media screen and (max-width: 800px) {
    flex-direction: column-reverse;
  }
}

.about__content {
  max-width: 450px;
  p {
    color: $text-color;
    margin: 30px 0;
  }
  @media screen and (max-width: 800px) {
    max-width: none;
  }
}

.about_img {
  width: 50%;
  @media screen and (max-width: 800px) {
    width: 100%;
  }
}
