.description {
  @include container;
}

.description__wrapper {
  @include wrapper;
  gap: 10px;
  @media screen and (max-width: 800px) {
    flex-direction: column;
  }
}

.description__content {
  max-width: 450px;
  p {
    color: $text-color;
    margin: 30px 0;
  }
  @media screen and (max-width: 800px) {
    max-width: none;
  }
}

.description__img {
  width: 50%;
  @media screen and (max-width: 800px) {
    width: 100%;
  }
}
