.start {
  @include container;
  background: $brand-gradient;
  align-items: center;
  flex-direction: column;
  min-height: 35rem;
  height: 100%;
  @media screen and (max-width: 800px) {
    min-height: 55em;
    height: 100%;
  }
}
.start__wrapper {
  @include wrapper;
  margin-top: 6rem;
  @media screen and (max-width: 800px) {
    flex-direction: column;
    width: 100%;
    max-width: none;
  }
}
.start__content {
  display: flex;
  min-height: 30rem;
  max-width: 30rem;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  h1 {
    font-size: 2.5rem;
    color: $main-title-color;
    font-weight: 400;
  }
  p {
    margin: 1rem 0;
  }

  @media screen and (max-width: 800px) {
    max-width: none;
  }
}
.start__img {
  width: 55%;
  @media screen and (max-width: 800px) {
    width: 100%;
  }
}
