@mixin container {
  padding: 2rem;
  display: flex;
  justify-content: center;
  @media screen and (max-width: 535px) {
    padding: 1.2em;
  }
}
@mixin wrapper {
  max-width: $max-width;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin content {
  max-width: 30rem;
  p {
    color: $text-color;
    margin: 1rem 0;
  }
  @media screen and (max-width: 800px) {
    max-width: none;
  }
}

@mixin image {
  width: 50%;
  @media screen and (max-width: 800px) {
    width: 100%;
  }
}

@mixin icon {
  flex-direction: column;
  justify-content: space-between;
  width: 2rem;
  height: 1.5rem;
  z-index: 4;
  box-shadow: 0 0 0.3rem 0.2rem rgb(76 76 76 / 55%);
  position: fixed;
  right: 2rem;
  background: #4c4c4c85;
  transition: 0.3s;
  hr {
    border: 0.1rem solid $brand-color;
    margin: 0;
    opacity: 1;
  }
  @media screen and (max-width: 535px) {
    right: 1.2em;
  }
}
