@mixin container {
  padding: 2rem;
  display: flex;
  justify-content: center;
  @media screen and (max-width: 535px) {
    padding: 1.2em;
  }
}
@mixin wrapper {
  max-width: $max-width;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@mixin content {
  max-width: 30rem;
  p {
    color: $text-color;
    margin: 1rem 0;
  }
  @media screen and (max-width: 800px) {
    max-width: none;
  }
}
@mixin image {
  width: 50%;
  @media screen and (max-width: 800px) {
    width: 100%;
  }
}
@mixin formItem {
  &:focus {
    border-color: $brand-color;
    box-shadow: 0 0 0.25rem 0.25rem #f1cdb338;
  }
}
