$text-font-stack:
  Georgia,
  Times New Roman,
  Times,
  serif;
$anchor-font-stack: Arial, Helvetica, sans-serif;
$main-text-color: #cdcdcd;
$text-color: #4c4c4c;
$main-title-color: #ffffff;
$title-color: #545454;
$anchor-color: #fafafa;
$brand-color: #f1cdb3;
$brand-gradient: radial-gradient(85% 200% at 0% 50%, #513d2f, #1a1a1c);
$background-color: #f6f6f6;
$background-color-extra: #f2eeea;
$max-width: 1200px;
$min-width: 320px;
