.our-works {
  .our-works__icon-to-top {
    @media screen and (max-width: 535px) {
      right: 20px;
    }
  }
}
.our-works__insert {
  min-height: 120px;
  background: $brand-gradient;
}
.our-works__loader {
  margin: 100px auto;
  width: fit-content;
}
.our-works__wrapper {
  min-height: 262px;
}
.our-works__button-wrapper {
  display: flex;
  justify-content: center;
}
.our-works__button {
  @include button;
  margin: 20px;
}
